
@{
    ViewData["Title"] = "Home page";

    // Contains Middle Area
}

<div style="background-color:green;" class="text-center">
    <h1 style="color:white; font-family:Chalkduster; font-size:120px;" class="display-1">Welcome to Scouter!</h1>
</div>

<div class= "row">
    <div class="col">
        <! Footballer Image >
        <img src="~/Images/scouter.png" asp-append-version="true">
    </div>
    <div class="col">
        <h3 style="font-family : 'Chalkduster'"> <br /> Are you ready for quality scouting?<br /><br />  Join us now!! <br /><br />  Scouter provides you with an interface where you can easily find players, make transfer requests, communicate with managers and clubs.<br /><br />  Our platforms also enables young footballers to watch videos of their dream players and contact with them. </h3>
    </div>    
     
   
</div>

